@import '~bootstrap/scss/bootstrap';
/* logo font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&display=swap');

/* mixins, variable, etc */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  body {
    color: #eee;

    a {
      color: rgba($white, .55);
      &:hover{
        color: rgba($white, .75);
      }
    }
  }

  font-size: 14px;
}

/* container */
#wrapper {
  background-image: url('../images/beach1.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  min-height: 100vh;

  &:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

/* header */

.navbar {
  border: none;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

#logo {
  float: left;
  margin-right: 10px;
  font-family: 'Indie Flower';
  font-size: 2em;
  color: white;
  // letter-spacing: -1px;
  // font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  font-size: 0.8rem;

  .link-with-text {
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: inline-flex;
  }

  #copyright {
    color: rgba($white, .55);
  }
}

/* forms */

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;

  .form-control {
    color: rgb(226, 64, 64);
  }
}

form {
  >.form-control {
    margin-bottom: 10px;
  }

  >textarea {
    background-color: #bbb;
  }
}

/* letters */

.letters {
  list-style: none;
  padding: 0;

  li {
    background-color: #eee;
    border-radius: 10px;
    color: $gray-800;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #e8e8e8;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.7);

    a {
      color: $gray-600;
      word-break: break-word;
      
      &:hover {
        color: $gray-500;
        text-decoration: none;
      }
    }
  }

  .letter-info span {
    text-align: right;
    display: block;
  }

  .user {
    padding-top: 0;
    color: $gray-600;
  }

  .content p {
    display: block;
    margin-left: 10px;

    img {
      display: block;
      padding: 5px 0;
    }

    // 罫線風
    background-image: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 97%,
      #ddd 97%,
      #bbb 100%);
    background-size:100% 2em;
    line-height:2;
    font-size: 1.4em;
  }

}

/* bottle */
.bottle-circle{
  background-color:#28c9ce;
  border-radius: 100%;
  border: 5px white solid;
  width: 80px;
  height: 80px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.7);
}

a.linking-parent{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bottle-image{
  position: relative;
  top: 5px;
  animation: rotation 4s ease 0s infinite normal none running;
}

@keyframes rotation {
  0% { transform: rotate(30deg) }
  50% { transform: rotate(-30deg) }
  100% { transform: rotate(30deg) }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing
}
