<div class="fixed-bottom mx-auto pb-2" style="width:60px;">
  <%= link_to image_pack_tag("bottle5.png", alt: "bottle-1", class: "bottle-image", width: "60px") ,
          random_letters_path , id: "bottle-1" %>
</div>