<div class="fixed-bottom mx-auto pb-2 text-center align-middle" style="width:100px; ">
  <div class="bottle-circle  align-middle">
    <%= image_pack_tag("wine-bottle2.svg", alt: "bottle", class: "bottle-image", width: "60px")  %>
    <%= link_to "", random_letters_path, class: "linking-parent" %>
    <%
=begin%>
    <div class="test"></div>
    <%
=end%>
  </div>
</div>