<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
      <li><%= link_to "利用規約", terms_path %></li>
      <li>© 2021 <%= link_to "y-horikiri", "https://twitter.com/y_horikiri", target: "_blank", rel: "noopener noreferrer" %></li>
    </ul>
  </nav>
</footer>