<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bottletter", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to current_user.name + "さん", current_user %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% end %>
        <li><%= link_to "ホーム",   root_path %></li>
      </ul>
    </nav>
  </div>
</header>